<!DOCTYPE html>
<html>
<head>
  <title>About - climb.mx</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #ccfe05;
      height: 100vh;
      width: 100vw;
    }
    
    .hidden-text {
      color: #ccfe05;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: monospace;
      font-size: 14px;
      line-height: 1.6;
      text-align: center;
      max-width: 600px;
      padding: 20px;
      white-space: pre;
    }
  </style>
</head>
<body>
  <div class="hidden-text">
    <template>
        Me in a sentence

        High energy individual and focused on creative product development.

        A bit more detail

        I’m an adventurer, a coder, a climber, an academic and an entrepreneur. I like old cars, bicycles of any kind and fixing things.
            - As an academic, I’ve built RI5C: www.ri5c.com.
            - You can read my writing in this very blog.
            - Founder in www.prescrypto.com.
    </template>
  </div>
</body>
</html> 